.body {
    position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(22, 68, 53);
  width: 370px;
  flex: 1;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid salmon;
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.smallbox{
    background-color: blue;
    height: 5px;;
    width: 5px;
    flex: none;
    display: flex;
    border: 1px solid black;
}

.smallbox:hover{
  background-color: blueviolet;
}
.color{
  background-color: rgb(98, 84, 110);
}